label {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-end; */
    text-align: left;
    width: 100px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
}

input {
    height: 20px;
    flex: 0 0 100px;
    margin-left: 10px;
    align-items: left;
}

h1 {
    font-size: 60px;
}

header {
    font-weight: 400;
    color: rgb(123, 12, 12);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.formDiv {
    border: 2px;
    border-radius: 10%;
    border-color: black;
    padding-left: 5px;
}

fieldset {
    background-color: grey;
    border-color: cyan;
}

legend {
    background-color: cadetblue;
}